<div class="text-center">
    <main class="form-signin w-100 m-auto">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <!--<img class="mb-4" src="" alt="" width="72" height="57">-->
            <h1 class="h3 mb-3 fw-normal">Inicia sesión</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" formControlName="email"
                    placeholder="name@example.com" required>
                <label for="floatingInput">Correo electrónico</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" formControlName="password"
                    placeholder="Contraseña" required>
                <label for="floatingPassword">Contraseña</label>
            </div>

            <div *ngIf="email?.invalid && email?.touched" class="text-danger">
                <small *ngIf="email?.hasError('required')">El correo electrónico es obligatorio.</small>
                <small *ngIf="email?.hasError('email')">Ingresa un correo electrónico válido.</small>
            </div>

            <div *ngIf="password?.invalid && password?.touched" class="text-danger">
                <small *ngIf="password?.hasError('required')">La contraseña es obligatoria.</small>
                <small *ngIf="password?.hasError('minlength') || password?.hasError('maxlength')">
                    Formato noválido.</small>
            </div>

            <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="loginForm.invalid || isLoading"><span
                    *ngIf="isLoading" class="spinner-border spinner-border-sm me-2" role="status"
                    aria-hidden="true"></span>
                {{ isLoading ? 'Ingresando...' : 'Ingresar' }}</button>
                
            <a routerLink="#" class="d-block text-center mt-3">¿Olvidaste tu contraseña?</a>
        </form>
    </main>
</div>