<div class="container mt-3">
    <h3>Información de cuenta</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Nombre:</strong> {{ userData?.name || 'No disponible' }}
        </li>
        <li class="list-group-item">
            <strong>Email:</strong> {{ userData?.email || 'No disponible' }}
        </li>
        <li class="list-group-item">
            <strong>Teléfono:</strong> {{ userData?.phone || 'No disponible' }}
        </li>
        <li class="list-group-item" *ngIf="userRole === 'admin'">
            <strong>Rol:</strong> {{ userData?.role || 'No disponible' }}
        </li>
    </ul>
</div>